In [1]:
import os
import pandas as pd
import numpy as np

df_list = []

loc = 'txt_sentoken/neg/'

for f in os.listdir(loc):
    text = open(loc+f, "r")
    d = {'text': [text.read()], 'label': [0]}
    df = pd.DataFrame(d)
    df_list.append(df)
    
loc = 'txt_sentoken/pos/'

for f in os.listdir(loc):
    text = open(loc+f, "r")
    d = {'text': [text.read()], 'label': [1]}
    df = pd.DataFrame(d)
    df_list.append(df)

df = pd.concat(df_list, ignore_index=True)
df

                                                   text  label
0     plot : two teen couples go to a church party ,...      0
1     the happy bastard's quick movie review \ndamn ...      0
2     it is movies like these that make a jaded movi...      0
3      " quest for camelot " is warner bros . ' firs...      0
4     synopsis : a mentally unstable man undergoing ...      0
...                                                 ...    ...
1995  wow ! what a movie . \nit's everything a movie...      1
1996  richard gere can be a commanding actor , but h...      1
1997  glory--starring matthew broderick , denzel was...      1
1998  steven spielberg's second epic film on world w...      1
1999  truman ( " true-man " ) burbank is the perfect...      1

[2000 rows x 2 columns]

In [2]:
from sklearn.model_selection import train_test_split

X = df['text'].values
y = df['label'].values
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state=1000)
print(X_train.shape, type(X_train), y_train.shape, type(y_train))

(1500,) <class 'numpy.ndarray'> (1500,) <class 'numpy.ndarray'>

In [3]:
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(stop_words='english')
sparse_matrix = count_vectorizer.fit_transform(X_train)
doc_term_matrix = sparse_matrix.todense()
voc = count_vectorizer.get_feature_names_out()
print(doc_term_matrix.shape, type(doc_term_matrix))

(1500, 34939) <class 'numpy.matrix'>

In [4]:
df = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names_out())

df.loc['MVR'] = (df == 0).sum()/len(df)*100

voc = df.columns[df.loc['MVR'] != df.loc['MVR'].max()].to_list()
df

,00,000,0009f,007,00s,03,04,05,05425,10,...,zuko,zulu,zundel,zurg,zus,zweibel,zwick,zwigoff,zycie,zzzzzzz
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1497,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1498,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1499,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
MVR,99.666667,95.133333,99.933333,99.666667,99.933333,99.933333,99.933333,99.8,99.933333,90.4,...,99.866667,99.933333,99.933333,99.933333,99.933333,99.933333,99.666667,99.933333,99.933333,99.933333

In [5]:
count_vectorizer = CountVectorizer(stop_words='english', vocabulary=voc)
sparse_matrix = count_vectorizer.fit_transform(X_train)
doc_term_matrix = sparse_matrix.todense()
print(doc_term_matrix.shape, type(doc_term_matrix))

(1500, 20676) <class 'numpy.matrix'>

In [6]:
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(0.0015)
selector.fit(doc_term_matrix)
keep_idx=list(selector.get_support(doc_term_matrix.any()))
voc = list(map(count_vectorizer.get_feature_names_out().__getitem__, keep_idx))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

In [7]:
count_vectorizer = CountVectorizer(stop_words='english', vocabulary=voc)
sparse_matrix = count_vectorizer.fit_transform(X_train)
doc_term_matrix = sparse_matrix.todense()
print(doc_term_matrix.shape, type(doc_term_matrix))

(1500, 16457) <class 'numpy.matrix'>

In [8]:
# count_vectorizer = CountVectorizer(vocabulary=voc)
# X_train1 = X_train
# X_test1 = X_test
# X_train1, X_test1 = map(lambda x: count_vectorizer.transform(x), (X_train1, X_test1))

In [9]:
# from sklearn.ensemble import RandomForestClassifier
# classifier = RandomForestClassifier()
# classifier.fit(X_train1, y_train)
# df = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names_out())
# df.loc['RFC'] = classifier.feature_importances_
# rfc_threshold = np.percentile(classifier.feature_importances_, 10)

# voc = df.columns[df.loc['RFC'] > rfc_threshold].to_list()
# rfc_threshold

In [10]:
count_vectorizer = CountVectorizer(stop_words='english', vocabulary=voc)
sparse_matrix = count_vectorizer.fit_transform(X_train)
doc_term_matrix = sparse_matrix.todense()
print(doc_term_matrix.shape, type(doc_term_matrix))

(1500, 16457) <class 'numpy.matrix'>

In [11]:
from sklearn.feature_selection import chi2

df = pd.DataFrame(doc_term_matrix, columns=count_vectorizer.get_feature_names_out())
chi_threshold = np.percentile(chi2(doc_term_matrix, y_train)[1], 90)
df.loc['CHI'] = chi2(doc_term_matrix, y_train)[1]

voc = df.columns[df.loc['CHI'] < chi_threshold].to_list()
df

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:593: FutureWarning: np.matrix usage is deprecated in 1.0 and will raise a TypeError in 1.2. Please convert to a numpy array with np.asarray. For more information see: https://numpy.org/doc/stable/reference/generated/numpy.matrix.html
  warnings.warn(

,00,000,007,05,10,100,1000,101,102,105,...,zoo,zoologist,zoom,zooming,zooms,zoot,zorro,zucker,zuko,zwick
0,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
1497,0.00000,1.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
1498,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
1499,0.00000,0.000000,0.00000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000
CHI,0.10385,0.275263,0.65903,0.566825,0.085564,0.983797,0.65903,0.020697,0.159523,0.995745,...,0.566825,0.566825,0.560586,0.566825,0.0589,0.046078,0.319897,0.788902,0.082444,0.280576

In [12]:
count_vectorizer = CountVectorizer(vocabulary=voc)
X_train, X_test = map(lambda x: count_vectorizer.transform(x), (X_train, X_test))
print(X_train.shape, type(X_train))

(1500, 14795) <class 'scipy.sparse.csr.csr_matrix'>

In [13]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=200)
classifier.fit(X_train, y_train)
score =  classifier.score(X_test, y_test)
print('Accuracy:', score)

Accuracy: 0.842

In [14]:
from sklearn.linear_model import PassiveAggressiveClassifier
classifier = PassiveAggressiveClassifier()
classifier.fit(X_train, y_train)
score =  classifier.score(X_test, y_test)
print('Accuracy:', score)

Accuracy: 0.844